<app-navbar></app-navbar>
  <div class="jumbotron"  *ngIf="questionnaire">
    <h1 class="display-3">Question : {{quizService.questionNumber + 1}}</h1>
    <p class="lead">{{quizService.questionlist[quizService.questionNumber].quesText}}</p>
    <ul class="list-group answer">
      <ng-container *ngFor="let option of quizService.questionlist[quizService.questionNumber].options; let i = index">
        <li *ngIf="option != null" class="list-group-item"
          (click)="Answer(quizService.questionlist[quizService.questionNumber].quesId,i)">
          {{option}}
        </li>
      </ng-container>
    </ul>
    <hr class="my-4">
  </div>
  <div class="progress">
    <div class="progress-bar bg-info" role="progressbar" [style.width.%]="(quizService.questionNumber)*20"
      aria-valuenow="(quizService.questionNumber)*20" aria-valuemin="0" aria-valuemax="100">
    </div>
  </div>