<app-navbar></app-navbar>

<div class="row" *ngIf="questionnaire">
  <div class="col s12 offset-s3">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Question : {{quizService.questionNumber + 1}}</span>
          <p>
              {{quizService.questionlist[quizService.questionNumber].quesText}}
          </p>
        </div>
        <div class="card-action">
          <ul class="collection answer">
              <ng-container *ngFor="let option of quizService.questionlist[quizService.questionNumber].options; let i = index">
                  <li *ngIf="option != null" class="collection-item" (click)="Answer(quizService.questionlist[quizService.questionNumber].quesId,i)">
                      {{option}}
                  </li>
              </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="progress">
    <div class="determinate" [style.width.%]="(quizService.questionNumber + 1)*20"></div>
</div>

